ipdb
alembic-verify
aioredis==2.0.1
alembic==1.7.4
black==21.9b0
click==8.0.4
pytest==6.2.5
SQLAlchemy==1.4.26
SQLAlchemy-Utils==0.37.9
python-dotenv==0.19.2
pylint==2.11.1
pytest-xdist==2.4.0
pytest-bdd==5.0.0
pytest-asyncio==0.16.0
pytest-cov==3.0.0
pytest-mock==3.7.0
types-protobuf==3.19.18
jake==1.1.0
numpy==1.21.3
mypy==0.910
psycopg2-binary==2.9.2
pre-commit==2.15.0
faker==13.12.0
